In [2]:
#list of high schools
#create a list of school by using brackets
high_schools = ["Hernandez High School","Figueroa High School","Wilson High School","Wright High School"]
for m in high_schools:
    print(m)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [3]:
# A dictionary of high schools and the type of school.
# create dictionary by using curly brackets and list them together
high_school_types = [{"High School": "Griffin","type":"District"},
                     {"High School": "FFigueroa","type":"District"},
                     {"High School": "Wilson","type":"Charter"},
                     {"High School": "Wright","type":"Charter"}]
for m in high_school_types:
    print(m)

{'High School': 'Griffin', 'type': 'District'}
{'High School': 'FFigueroa', 'type': 'District'}
{'High School': 'Wilson', 'type': 'Charter'}
{'High School': 'Wright', 'type': 'Charter'}

In [4]:
import pandas as pd

In [5]:
# panda series are list of object with series number 
Series = pd.Series(high_schools)
Series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [6]:
 # A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
high_school_dicts

[{'School ID': 0, 'school_name': 'Huang High School', 'type': 'District'},
 {'School ID': 1, 'school_name': 'Figueroa High School', 'type': 'District'},
 {'School ID': 2, 'school_name': 'Shelton High School', 'type': 'Charter'},
 {'School ID': 3, 'school_name': 'Hernandez High School', 'type': 'District'},
 {'School ID': 4, 'school_name': 'Griffin High School', 'type': 'Charter'}]

In [7]:
# list of dictionary can be turned into dictionary by using pd.dataframe 
school_df = pd.DataFrame(high_school_dicts)
school_df
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [11]:
school_df.index.values

array([0, 1, 2, 3, 4], dtype=int64)

In [12]:
# csv to be read in pandas dataframe
file_to_readst = "Resources\\students_complete.csv"
file_to_readsc = "Resources\\schools_complete.csv"

In [14]:
# read csv in dataframe format and view
student = pd.read_csv(filepath_or_buffer = file_to_readst)
school = pd.read_csv(file_to_readsc) # don't need to specify the filepath?
school

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [22]:
school.reset_index(drop = True,inplace = True)

In [25]:
Students_df

NameError: name 'Students_df' is not defined